body { background-color: #888888;}
.tracker_container { display: inline-block; vertical-align: top; }
.tracker { border: 1px solid black; display: inline-block; margin: 5px; padding: 5px; vertical-align: top; }
.tracker div {
    border: 2px solid #cccccc; background-color: #666666; padding: 5px; text-align: center;
    width: 100%; border-radius: 10px; font-weight: bold; font-family: monospace;
}
.suggest {
    border: 5px groove black; background-color: #8888a8; text-align: center;
    font-style: italic; font-family: monospace; font-size: 13pt; height: 50px;
}
.stats { border: 1px solid black; text-align: center; font-family: monospace; padding: 5px; color: #333; }
.charlist { display: inline-block; vertical-align: top; border: 1px solid black; margin: 5px; padding: 5px; }
.trackermaker { display: inline-block; vertical-align: top; border: 1px solid black; margin: 5px; padding: 5px; }
.count { margin-right: 5px; text-align: center; background-color: #999999; font-family: monospace;}
.fairness { text-align: center; margin-left: 3px; }
.tracker .title { text-align: center; border: 1px solid black; margin: 0px; padding: 0px; border-radius: 0px; font-size: 12pt; }
.tracker td {
    border: 2px solid #ccc; border-radius: 10px; background-color: #666; text-align: center;
    padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
    font-weight: bold; font-family: Monospace; border-collapse: collapse;
}

.delchar {
    color: red; background-color: black; font-weight: bold; font-family: monospace;
    padding: 2px 5px; border-radius: 5px; cursor: pointer;
}
.trackerAge {
    font-size: 10px; color: #393939; margin-left: 5px;
}
.trackerID {
    text-align: center; font-family: monospace;
}
.disabled { text-decoration: line-through; color: #990000; background-color: #cccccc !important; }
#explain { border: 1px solid black; }