<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="rr.css"/>
    <link rel="stylesheet" href="vuetify.min.css"/>
    <link rel="icon" type="image/png" href="Ember-16.png"/>
    <title>Embers Adrift Round-Robin Loot Tracker</title>
</head>
<body>
<div id="app">
<div id="qc" class="tracker_container">
    <table v-for="(tracker, trackerId) in lootData.trackers" :key="trackerId" class="tracker">
        <tr>
            <th colspan="2">
                {{ tracker.name }}
                <span id="trackerAge_{{ trackerId }}" class="trackerAge">{{ this.elapsedTracker(trackerId) }}</span>
            </th>
        </tr>
        <tr><th colspan="2" class="suggest" v-html="suggest(trackerId)"></th></tr>
        <tr><th colspan="2" class="stats">Drops: {{ tracker.totalDrops }} | Per hour: {{ lootRate(trackerId) }}</th></tr>
        <tr v-for="id in sortedTracker(trackerId)" :key="id">
            <td :class="{ 'disabled' : !lootData.players[id].trackers[trackerId].checked}">{{ lootData.players[id].name }}</td>
            <td>
                <span class="viewcount" v-html="lootData.players[id].trackers[trackerId].count"></span>
                <span class="fairness" v-if="tracker.method === 'fair'">[{{ lootData.players[id].trackers[trackerId].fairness }}]</span>
            </td>
        </tr>
    </table>
</div>
<table class="trackermaker">
    <tr><th>
        Tracker ID &nbsp; <input type="text" size="10" maxlength="10" id="external_tracker_id" class="trackerID" :placeholder="shortDate()"/>
        &nbsp;
        <v-btn @click="loadTracker()">Load</v-btn>
        &nbsp;
        <v-btn v-if="Object.keys(lootData.trackers).length && !this.explain" @click="this.explain=true">Um, Explain.</v-btn>
        <v-btn v-if="this.explain" @click="this.explain=false">Hide Explanation</v-btn>
        <v-btn @click="theme.cycle()" text="cycle theme"></v-btn>
    </th></tr>
</table>
<br>
<textarea v-if="this.explain" id="explain" cols="80" rows="20">
    Single-drop Trackers (such as Rune trackers) show the count of items won per player.  Initial loot order is set alphabetically after the initial drop (Alphabetical Round-Robin).
    
    Multi-drop Trackers (such as Shard trackers) show the count of items won per player, plus the fairness coefficient in brackets.  This value is a reflection of the relative differences of items won per player.  If players 1 through 4 have 10 shards, and player 5 has 15, there is only a 5-shard difference in fairness [10, 10, 10, 10, 15], so this gets automatically reduced to [0, 0, 0, 0, 5].  The benefit here is that if a 6th player joins the group (inserted alphabetically), they have an initial fairness level of 0, matching whoever currently has the lowest fairness, and loot is fair from then on while retaining existing fairness.  Also, if a person goes AFK or leaves, their fairness level continues to get reduced for the time they are absent, to keep it fair for whoever is still participating.
</textarea>

<!-- Debug stuff below -->
<span v-if="devMode">
    <textarea rows="30" cols="50" style="font-size: 10px;">{{ JSON.stringify(lootData.trackers, null, 2) }}</textarea>
    <textarea rows="30" cols="50" style="font-size: 10px;">{{ JSON.stringify(lootData.players, null, 2) }}</textarea>
</span>

</div>

<script src="vue.global.js"></script><!-- v3.5.28 -->
<script src="vuetify.js"></script><!-- v4.0.0 -->
<script type="module" src="common.js"></script>
<!--script src="vue.global.prod.js"></script-->
<script type="module">

// Firebase config to enable remote viewing of the tracker data
import { initializeApp } from "https://www.gstatic.com/firebasejs/12.9.0/firebase-app.js";
import { getDatabase, ref, set, child, get, onValue } from "https://www.gstatic.com/firebasejs/12.9.0/firebase-database.js";
import { shortDate, lootRate, elapsedTracker, sortedTracker, suggest } from './common.js';
const firebaseConfig = {
    apiKey: "AIzaSyBJYHL7v9lBO5FDFGRTohp1yF94NVnYLOY",
    authDomain: "embertracker.firebaseapp.com",
    databaseURL: "https://embertracker-default-rtdb.firebaseio.com",
    projectId: "embertracker",
    storageBucket: "embertracker.firebasestorage.app",
    messagingSenderId: "930812014694",
    appId: "1:930812014694:web:fecf713742575e36cafda7"
};
const app = initializeApp(firebaseConfig);
const db = getDatabase(app);
var unsubscribe = null;

// Vue config and app initialization
const { createApp } = Vue;
// Vuetify initialization
const { createVuetify, useTheme } = Vuetify;
const vuetify = createVuetify({
    theme: {
        defaultTheme: 'Theme1',
        themes: {
            Theme1: {
                colors: {
                    background: '#abcdef',
                },
            },
        },
    },
});

const App = {
    data() {
        return {
            lootData: {
                trackers: {}, players: {}
            },
            currentTime: new Date().getTime(),
            trackerId: null,
            explain: false,
            devMode: 0
        }
    },
    methods: {
        shortDate() { return shortDate(); },
        lootRate(trackerId) { return lootRate(this.currentTime, this.lootData.trackers[trackerId]); },
        elapsedTracker(trackerId) { return elapsedTracker(this.currentTime, this.lootData.trackers[trackerId]); },
        sortedTracker(trackerId) { return sortedTracker(trackerId, this.lootData.trackers[trackerId], this.lootData.players); },
        suggest(trackerId) { return suggest(this.lootData.trackers[trackerId], this.lootData.players); },
        loadTracker(trackerId=null) {
            if (!trackerId) {
                trackerId = document.getElementById('external_tracker_id').value;
            }
            if (!trackerId) {
                alert('You must enter a Tracker ID first.');
                return;
            }
            const tPath = 'lootData/' + trackerId;
            get(child(ref(db), tPath)).then((snapshot) => {
                if (snapshot.exists()) {
                    this.lootData = snapshot.val();
                } else {
                    alert("No data found for tracker ID: " + trackerId);
                }
            }).catch((error) => {
                console.error("Error loading tracker data:", error);
            });

            // Cancel any existing subscriptions to changing data
            if (unsubscribe) unsubscribe();
            // Handle data updates
            const dataRef = ref(db, tPath);
            unsubscribe = onValue(dataRef, (snapshot) => {
                this.lootData = snapshot.val();
            });
        },
    },
    mounted() {
        // Detect dev mode based on URL parameter and set flag accordingly
        const urlParams = new URLSearchParams(window.location.search);
        this.devMode = urlParams.get('dev') === '1';
        const trackerInput = document.getElementById('external_tracker_id');
        const trackerId = urlParams.get('track');
        if (trackerId) {
            this.loadTracker(trackerId);
            trackerInput.value = trackerId;
        } else {
            trackerInput.focus();
        }

        // Add event listener to the whole app to toggle dev mode with ctrl-alt-d
        window.addEventListener('keydown', (event) => {
            if (event.ctrlKey && event.altKey && event.key === 'd') {
                this.devMode = !this.devMode;
            }
        });

        // Update reactive currentTime every second so any computed/display methods refresh
        setInterval(() => {
            this.currentTime = new Date().getTime();
        }, 1000);
        
        const theme = useTheme();
    }
};
createApp(App).use(vuetify).mount('#app')
</script>
</body>
</html>
